{% if licensing is defined %}
license smart
{%   if licensing.feature is defined %}
 feature tier {{ licensing.feature }}
{%   endif %}
{%   if licensing.throughout is defined %}
 throughput level {{ licensing.throughout }}
{%   endif %}
!
{%   if licensing.token is defined %}
license smart register idtoken {{ licensing.token }}
{%   endif %}
{% endif %}